<div class="container">
  <form class="form" (ngSubmit)="signIn()" #signInForm="ngForm">
    <img class="logo" src="/assets/images/logo.png" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input
      name="email"
      placeholder="Email Address"
      type="text"
      required
      #email="ngModel"
      [(ngModel)]="credentials.email"
    />
    <em class="error" *ngIf="email.errors?.['required'] && email.touched">Email required</em>
    <em class="error" *ngIf="email.errors?.['email'] && email.touched">Must be a valid Email format</em>
    <input
      name="password"
      required
      #password="ngModel"
      placeholder="Password"
      type="password"
      [(ngModel)]="credentials.password"
    />
    <em class="error" *ngIf="password.invalid && password.touched">Email required</em>
    <div class="buttons">
      <button 
      type="submit"
      class="button cta"
      [disabled]="signInForm.form.invalid"
      >
        Sign In
      </button>
    </div>
    <div class="signInError" *ngIf="signInError">
      Sign-In Failed. Try Again.
    </div>
  </form>
</div>
